body {
    background-image: url(/faeyra-main/faeyra-main/front-end/imagens/background.png);
    background-color: #97d57e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

#estoque {
    display: flex;
    flex-direction: row;
    background-image: url('/faeyra-main/faeyra-main/front-end/imagens/prateleiras.png');
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    
}

.produto {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #fff;
    border-radius: 10px;
    width: 5vw;
    height: 10vh;
}

#produto1 { 
    top: 80px; 
    left:100px}
