body {
    background-color: #97d57e;
    background-image: url(background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@font-face {
    font-family: Railey;
    src: url(Railey-PersonalUse.ttf)
}

#logo {
    position: relative;
    width: 700px;
    height: 400px;
    margin: auto;
    margin-bottom: 20px;
}

#logo img {
    position: absolute;
    top: 20;
    left: 0;
    width: 700px;
}

#logo p {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #1f995e;
    font-size: 2.5em;
    font-family: Railey;
    text-shadow: 1px 1px 2px rgb(255, 252, 252);
}

button {
    height: 100px;
    width: 40%;
    background-color: #1f995e;
    border-radius: 15px;
    border: none;
    font-family: Railey;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

#jogar,
#tutorial {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 20px;
}