body {
    background-color: rgba(19, 65, 8, 0);
    height: 100vh;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: Aubrey;
    src: url(/front-end/fontes/Aubrey-Regular.ttf)
}

body,
input,
textarea,
button {
    font-family: "Aubrey";
}


/* CALCULATOR CONTAINER */
.calculator {
    background-color: #12633c;
    border-radius: 15px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 8px 8px 8px rgb(19, 65, 8);
    padding: 20px 30px;
    width: 300px;
    /* display: none;  */
}

/* DISPLAY */
.display {
    margin: 20px 0 40px;
    text-align: right;
    padding: 0 10px;
    height: 100px;
    background-color: #97d57e;
    border-style: solid;
    border-color: #201f1f;
       
}

.display input {
    background: transparent;
    border: none;
    color: #000000;
    font-size: 60px;
    font-weight: 400;
    text-align: right;
    width: 100%;
}

.display h2 {
    color: #054e05;
    font-size: 20px;
    margin-top: 0;
}

/* ROW GRID */
.row {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

/* BUTTON */
.button {
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    height: 60px;
    margin: 2px;
    width: 60px;
    box-shadow: 5px 5px 5px #1f995e;
}



