body {
    background-image: url(/faeyra-main/front-end/imagens/background.png);
    background-color: #97d57e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;

}

@font-face {
    font-family: Railey;
    src: url(/faeyra-main/front-end/fontes/Railey-PersonalUse.ttf);
}

@font-face {
    font-family: Aubrey;
    src: url(/front-end/fontes/Aubrey-Regular.ttf)
}

/* LOGO FAEYRA */
#logopequena img {
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

/* BARRACA */

#mesa {
    position: fixed;
    z-index: 4;
    bottom: 0;
    left: 0;
}

#mesa img {
    width: 100vw;
    height: 30vw;
    max-height: 30vh;
    display: block;
}

#lateralEsquerda {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    z-index: 2;
    justify-content: flex-start;
}

#lateralDireita {
    position: fixed; 
    right: 0;        
    top: 0;
    display: flex;
    z-index: 3;
    justify-content: flex-end;
}

#lateralDireita img,
#lateralEsquerda img {
    height: 100vh;   
    width: 15vw;
    max-width: 140px;
}


/* CALCULADORA */
#calculadora {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 15;

}

#calculadora iframe {
    border: none;
    margin-left: 40px;
}

/* ABACO */
#abrirCalculadora {
    cursor: pointer;
    position: fixed;
    z-index: 5;
    top: 60vh;
    left: 70vw;
}

#abrirCalculadora img {
    width: 15vw;
    height: auto;
    max-height: 30vh;
}


/* BOTÃO FECHAR CALCULADORA (X) */
#fecharCalculadora {
    color: #40c283;
    background-color: rgba(0, 0, 0, 0);
    font-family: Railey;
    cursor: pointer;
    font-size: 40px;
    width: 70px;
    height: 70px;
    margin-top: 80%;
    border: none;
}


/* PERSONAGEM */
#personagem {
    position: fixed;
    z-index: 1;
    bottom: 27vh;
}

#personagem img {
    width: 25vw;
    height: auto;
    /* max-width: 100%; */
}

/* BOTÃO INICIAR E FINALIZAR */

#start{
    justify-content: left;
    bottom: 5vw;
    position: fixed;
    left: 5vw;
    z-index: 10;
}
#end {
    justify-content: right;
    bottom: 5vw;
    position: fixed;
    right: 5vw;
    z-index: 10;}

#start button, #end button{
    width: 25vw;
    height: 10vw;
    max-width: 250px;
    max-height: 70px;
    color: white;
    background-color: #14442d;
    font-family: Railey;
    font-size: clamp(16px, 5vw, 35px);
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
    border-style: solid ;
    border-color: rgb(255, 255, 255)
}

#loading{
    justify-content: center;
    margin: auto;
    margin-top: 25vh;
    width: 60vw;

}

#sobreposicao{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

