body {
    background-image: url(/faeyra-main/front-end/imagens/background.png);
    background-color: #97d57e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;

}

@font-face {
    font-family: Railey;
    src: url(/faeyra-main/front-end/fontes/Railey-PersonalUse.ttf);
}

@font-face {
    font-family: Aubrey;
    src: url(/faeyra-main/front-end/fontes/Aubrey-Regular.ttf)
}

/* LOGO FAEYRA */
#logopequena img {
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 14;
}

/* BARRACA */

#mesa {
    position: fixed;
    z-index: 4;
    bottom: 0;
    left: 0;
}

#mesa img {
    width: 100vw;
    height: 30vw;
    max-height: 30vh;
    display: block;
}

#lateralEsquerda {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    z-index: 2;
    justify-content: flex-start;
}

#lateralDireita {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    z-index: 3;
    justify-content: flex-end;
}

#lateralDireita img,
#lateralEsquerda img {
    height: 100vh;
    width: 15vw;
    max-width: 140px;
}


/* CALCULADORA */
#calculadora {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 15;

}

#calculadora iframe {
    border: none;
    margin-left: 40px;
}

/* ABACO */
#abrirCalculadora {
    cursor: pointer;
    position: fixed;
    z-index: 5;
    top: 60vh;
    right: 25vw;
}

#abrirCalculadora img {
    width: 15vw;
    height: auto;
    max-height: 30vh;
}

/* LIVRO */
#livro {
    cursor: pointer;
    position: fixed;
    z-index: 5;
    top: 65vh;
    right: 5vw;
}

#livro img {
    width: 20vw;
    height: auto;
    max-height: 30vh;
}


/* BOTÃO FECHAR CALCULADORA (X) */
#fecharCalculadora {
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #1d754a;
    font-family: Aubrey;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1em;
    width: 70px;
    height: 30px;
    margin-top: 100%;
}


/* PERSONAGEM */
#personagem {
    position: fixed;
    z-index: 1;
    bottom: 27vh;
}

#personagem img {
    max-width: 30vw;
    height: auto;
    width: auto;
}

/* BOTÃO INICIAR E FINALIZAR */

#start {
    justify-content: left;
    bottom: 2vh;
    position: fixed;
    left: 3vw;
    z-index: 10;
}

#end {
    justify-content: right;
    bottom: 2vh;
    position: fixed;
    right: 3vw;
    z-index: 10;
}

#start button,
#end button {
    cursor: pointer;
    width: 13vw;
    height: 7vh;
    max-width: 250px;
    max-height: 70px;
    color: #000000;
    border: #000000;
    box-sizing: 2px;
    background-color: rgb(248, 247, 161);
    font-weight: bolder;
    font-family: Aubrey;
    font-size: clamp(2px, 6vw, 20px);
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
}

#loading {
    justify-content: center;
    margin: auto;
    margin-top: 25vh;
    width: 60vw;

}

#sobreposicao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#pergunta {
    margin: 0 auto;
    background: #156941;
    font-family: Aubrey;
    font-size: 2em;
    line-height: 1.6em;
    border-radius: 30px;
    width: 300px;
    height: auto;
    color: #c1ff72;
    border: 2px solid black;
    padding: 20px;
    position: fixed;
    z-index: 15;
    left: 750px;
    bottom: 55vh;
    min-height: 50px;

}

#respostas {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: auto;
    bottom: 2vh;
    left: 5vw;
    z-index: 13;
}

#resposta1, #resposta2, #resposta3 {
    padding: 2px;
    cursor: pointer;
    color: rgb(248, 247, 161);
    font-weight: bolder;
    font-family: Aubrey;
    font-size: 2.3em;

}

#vidas {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 200px;
    height: 65px;
    top: 4vh;
    right: 5vw;
    z-index: 13;
}

#vida1 img, #vida2 img, #vida3 img{
    padding: 5px;
    width: 55px;
    height: 55px;

}

#boasVindas{
    position: fixed;
    width: auto;
    height: auto;
    font-family: Aubrey;
    font-size: 2em;
    background-color: #156941;
    color: rgb(248, 247, 161);
    border-radius: 5px;
    border: 2px solid black;
    z-index: 30;
    right: 5vw;
    top:5vh;
    padding: 10px 20px 10px 20px;
    justify-content: center;
}

#fecharBoasVindas{
    position: fixed;
    width: auto;
    height: auto;
    font-family: Arial;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    z-index: 30;
    right: 3.5vw;
    font-weight: bolder;
    top:5vh;
    justify-content: center;
    cursor: pointer;

}

#dinheiro{
    position: fixed;
    width: auto;
    height: auto;
    font-family: Aubrey;
    font-size: 1.5em;
    background-color: rgba(255, 242, 242, 0);
    color: rgb(0, 0, 0);
    z-index: 20;
    right: 20vw;
    top:5vh;
}