body {
    background-color: #97d57e;
    background-image: url(/faeyra-main/front-end/imagens/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;

}

@font-face {
    font-family: Railey;
    src: url(/faeyra-main/front-end/fontes/Railey-PersonalUse.ttf)
}

/* CAMADA TRANSPARENTE */
#sobreposicao{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#logo {
    top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
}

#logo img {
    height: 500px;

}

#titulo {
    position: absolute;
    z-index: 2;
    color: #1d6140;
    font-size: clamp(3em, 28vw, 10em);
    font-family: Railey;
    text-shadow: 3px 3px 3px hwb(144 4% 86%);
    pointer-events: none;
}

#subtitulo {
    position: relative;
    top: 25vh; 
    width: 100%;
    text-align: center;
    color: #40c283;
    font-size: 3em;
    font-family: Railey;
}

button {
    height: 90px;
    width: 50%;
    max-width: 400px;
    padding: 10px;
    background-color: #1f995e;
    border-radius: 15px;
    border: none;
    font-family: Railey;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

#botaojogar{
    margin-top: 25vh;
}

#jogar, #tutorial {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 20px;
}