@font-face {
    font-family: Aubrey;
    src: url(/faeyra-main/front-end/fontes/Aubrey-Regular.ttf);
}

@font-face {
    font-family: Railey;
    src: url(/faeyra-main/front-end/fontes/Railey-PersonalUse.ttf);
}

body{
    background-color: rgb(79, 136, 84);
}


img{
    width: 150px;
}
#p1,
#p2,
#p3,
#p4,
#p5,
#p6{
    position: fixed;
    background-color: antiquewhite;
    padding: 55px;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
h1{
 font-family: Railey;
}
p{
    font-family: Aubrey;
    font-size: 25px;
}
#folha{
background-color: aquamarine;
}
#b2,#b3,#b4,#b5,#b6{
display: flex;

flex-direction: row
}
#b1{
    display: flex;
    justify-content: end;
}
#prod{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin-left: 20%;
    margin-right: 20%;
}