@font-face {
    font-family: Aubrey;
    src: url(/faeyra-main/front-end/fontes/Aubrey-Regular.ttf);
}

@font-face {
    font-family: Railey;
    src: url(/faeyra-main/front-end/fontes/Railey-PersonalUse.ttf);
}

body{
    background-color: rgb(79, 136, 84);
    background-image: url(/faeyra-main/front-end/imagens/background.png);
}
#livro{
    background-image: url(/faeyra-main/front-end/imagens/background.png);
    width: 80vh;
    border-radius: 20px;
}

img{
    width: 150px;
}
#p1,
#p2,
#p3,
#p4,
#p5,
#p6{
    position: fixed;
    background-color: antiquewhite;
    padding: 55px;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
    
}
h1{
 font-family: Railey;
}
p{
    font-family: Aubrey;
    font-size: 25px;
}